<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Competition</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}" /> 
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/GG.png')}}" type="image/x-icon">
    <script defer src="{{ url_for('static', filename='scripts/chat.js')}}"></script>
</head>
<body>

    <hgroup id="hgroup">

        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="https://github.com/DDixon0/geminiComp2024">Github</a></li>
                <li><a href="https://ai.google.dev/competition">Competition</a></li>
            </ul>
        </nav>

        <header>
            <h1>Welcome to Genesis</h1>
            <p id="about"> <b>Genesis</b> is a Causal Analysis chatbot, powered by Gemini, that helps determine the 'causal impact' stemming from an event.</p>
            <!-- <p>Causality is a GenAI tool for understanding the "causal impacts" that may arise as a result of an event or action.</p> -->
        </header>

    </hgroup>

    <main id="main">

        <div class="container-fluid h-100">
            <div class="row justify-content-around h-100">
                <div class="col-xl-2 col-lg-2 order-lg-1 order-2 align-self-center left">
                    <div id="side1" class="sideExpert">
                        <h2 class="side-header">Local Expert</h2>
                        <div class="side-body">
                          <h3 class="side-title">Local Impact</h3>
                          <!-- <p class="side-text">Going in depth with the local causal impact.</p> -->
                          <button type="button" class="btn btn-primary" aria-label="Button to generate Local Impact">Localize</button>
                        </div>
                    </div>

                    <div id="side2" class="sideExpert">
                        <h2 class="side-header">Municipal Expert</h2>
                        <div class="side-body">
                          <h3 class="side-title">Municipal Impact</h3>
                          <!-- <p class="side-text">Going in depth with the Municipal causal impact.</p> -->
                          <button type="button" class="btn btn-primary" aria-label="Button to generate Municipal Impact">Municipalize</button>
                        </div>
                    </div>

                    <div id="side3" class="sideExpert">
                        <h2 class="side-header">National Expert</h2>
                        <div class="side-body">
                          <h3 class="side-title">National Impact</h3>
                          <!-- <p class="side-text">Going in depth with the National causal impact.</p> -->
                          <button type="button" class="btn btn-primary" aria-label="Button to generate National Impact">Nationalize</button>
                        </div>
                    </div>                    

                </div>		
                <div class="col-xl-8 col-lg-7 order-lg-2 order-1 align-self-end chat">
                    <!-- col-xl-8 -->
                    <div class="card">
                        <div class="card-header msg_head">
                            <div class="d-flex bd-highlight">
                                <div class="img_cont">
                                    <img src="{{ url_for('static', filename='assets/GG.png')}}" class="rounded-circle user_img">
                                    <span class="online_icon"></span>
                                </div>
                                <div class="user_info">
                                    <span>Genesis</span>
                                    <p>Please tell me the causal event you would like me to analyze. I'm ready to put my deduction skills to work!  🧠 I will give you 3 possible causes and 3 possible effects.</p>
                                </div>
                            </div>
                        </div>
                        <div id="messageFormeight" class="card-body msg_card_body">
                            
                            
                        </div>
                        <div class="card-footer">
                            <form id="messageArea" class="input-group">
                                <input type="text" id="text" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
                                <div class="input-group-append">
                                    <button type="submit" id="send" class="input-group-text send_btn" aria-label="Submit Button"><i class="fas fa-location-arrow"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 order-lg-3 order-3 align-self-center right">
                    <div id="side4" class="sideExpert">
                        <h2 class="side-header">Global Expert</h2>
                        <div class="side-body">
                          <h3 class="side-title">Global Impact</h3>
                          <!-- <p class="side-text">Going in depth with the National causal impact.</p> -->
                          <button type="button" class="btn btn-primary" aria-label="Button to generate Global Impact">Globalize</button>
                        </div>
                    </div>  
                    <div id="side5" class="sideExpert">
                        <h2 class="side-header">Economic Expert</h2>
                        <div class="side-body">
                          <h3 class="side-title">Economic Impact</h3>
                          <!-- <p class="side-text">Going in depth with the National causal impact.</p> -->
                          <button type="button" class="btn btn-primary" aria-label="Button to generate Economiucal Impact">Economize</button>
                        </div>
                    </div>  
                    <div id="side6" class="sideExpert">
                        <h2 class="side-header">Ecological Expert</h2>
                        <div class="side-body">
                          <h3 class="side-title">Ecological Impact</h3>
                          <!-- <p class="side-text">Going in depth with the National causal impact.</p> -->
                          <button type="button" class="btn btn-primary" aria-label="Button to generate Ecological Impact">Ecologize</button>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
        
     

    </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4" id="footer">
        <p class="col-md-4 mb-0 text-body-secondary">© 2024 Gemini API Developer Competition Submission</p>
            
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="https://github.com/DDixon0/geminiComp2024?tab=readme-ov-file#papers" class="nav-link px-2 text-body-secondary">Papers</a></li>
            <li class="nav-item"><a href="" class="nav-link px-2 text-body-secondary">Video</a></li>
            <li class="nav-item"><a href="https://github.com/DDixon0/geminiComp2024" class="nav-link px-2 text-body-secondary">Github</a></li>
        </ul>
    </footer>
    
</body>
</html>