<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemini Competition</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/2.4.0/sigma.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/graphology/0.25.4/graphology.umd.min.js"></script> 
    <script defer src="{{ url_for('static', filename='scripts/sigma.jS')}}"></script>
</head>
<body>
    <h1>Gemini Competiton Project Title</h1>
    <h2>Using Sigma.jS as the implementation tool</h2>
    <div id="container" style="width: 800px; height: 600px; background: white"></div>
    <!-- <script>
        // Create a graphology graph
        const graph = new graphology.Graph();
        graph.addNode("1", { label: "Node 1", x: 0, y: 0, size: 300, color: "blue" });
        graph.addNode("2", { label: "Node 2", x: 1, y: 1, size: 20, color: "red" });
        graph.addEdge("1", "2", { size: 5, color: "purple" });
  
        // Instantiate sigma.js and render the graph
        const sigmaInstance = new Sigma(graph, document.getElementById("container"));
      </script>
     -->
</body>
</html>