*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* height: 100vh; */
    /* overflow-y: hidden; */
    /* justify-content: center; */
}


body{
    /* margin-left: 10%;
    margin-right: 10%;
    margi; */
    /* box-sizing: border-box;
    display: grid;
    grid-template:
    'header' 16%
    'main' 80%
    'footer' 4%;
    gap: 5px; */
    /* background-color: #2196F3; */
    /* padding: 10px; */
    min-height: 100%;

    /* margin: 0; */
	/* background: rgb(44, 47, 59);
    background: -webkit-linear-gradient(to right, rgb(40, 59, 34), rgb(54, 60, 70), rgb(32, 32, 43));
	background: linear-gradient(to right, rgb(38, 51, 61), rgb(50, 55, 65), rgb(33, 33, 78)); */

    background: rgb(74,125,91);
    background: -moz-radial-gradient(circle, rgba(74,125,91,1) 0%, rgba(7,39,60,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(74,125,91,1) 0%, rgba(7,39,60,1) 100%);
    background: radial-gradient(circle, rgba(74,125,91,1) 0%, rgba(7,39,60,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a7d5b",endColorstr="#07273c",GradientType=1);

}

/* SCROLL Bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
    /* background:; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }




/* Header Stuff */

#hgroup{
    /* background-color: rgb(255, 255, 255); */
    /* padding: 20px; */
    /* grid-area: header; */
    display: block;
    /* max-height: 20vh; */
    /* padding-bottom: 20px; */
}

header{
    /* display: flex; */
    text-align: center;
    /* padding-bottom: 20px; */
    color: white;
    font-size: larger;

    

}

header p{
    margin: 0;
    padding-bottom: 10px;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}
  
nav li{
    float: left;
}
  
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav li a:hover{
    background-color: #111;
}

@media screen and (max-width: 500px) {
    nav ul{
        display: flex;
        justify-content: space-around;
    }
}





/* Main Stuff */

/* main{
    margin: 0;
    padding: 0;
} */

#main{
    /* display: inline-flex; */
    /* justify-content:center;
    align-items: center;
    align-content: center; */
    /* background-color: bisque; */
    /* max-width: 50%; */
    grid-area: main;
    /* display: grid;
    grid-template-areas:
    'side1 chat chat side2'
    'side3 chat chat side4'
    'side5 chat chat side6'; */
    padding-top: 10px;
    padding-bottom: 10px;
}


#main div{
    /* background-color: white; */
}

                                                            /* FIX THE Sizing of chat window, last thing*/

#interactivity{
    grid-area: chat;
    /* height: 50vh; */
    /* grid-template-columns: subgrid;
    grid-template-rows: subgrid; */
    /* display: grid;
    grid-template-areas:
    'message'
    'message'
    'message'
    'input';
    
    display: block; */
    /* align-items: end; */
    /* justify-content: center; */
    
    
}

#bodybox {
    margin: auto;
    max-width: 550px;
    font: 15px arial, sans-serif;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 15px;
  }
  
  #chatborder {
    border-style: solid;
    background-color: #f6f9f6;
    border-width: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 15px;
    border-radius: 15px;
  }
  
  .chatlog {
     font: 15px arial, sans-serif;
  }
  
  #chatbox {
    font: 17px arial, sans-serif;
    height: 22px;
    width: 100%;
  }
  

/* #messages{
    grid-area: message;
    min-height: 60%;
    width: auto;
    background-color: aquamarine;
    min-height: 500px;
}

#submisison{
    grid-area: input;
    display: flex;
    justify-content: center;
    align-items: end;
}



#user-query{
    font-size: 2rem;
    letter-spacing: 1px;
    border: 1px solid #ccc;
    resize: none;
    overflow-y: auto;
} */

.sideExpert{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: gray;
    border-radius: 25px;
    margin: 20px;
}


#side1{ grid-area: side1;}
#side2{ grid-area: side2;}
#side3{ grid-area: side3;}
#side4{ grid-area: side4;}
#side5{ grid-area: side5;}
#side6{ grid-area: side6;}


/* #populate-responses article{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
} */

/* Footer Elements */

#footer{
    /* display: flex; */
    /* grid-area: footer; */
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: larger;
    /* background-color: wheat; */
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */

}

#footer p{
    color: white;
    font-size: larger;
}



/* Responsive Adjustments */

@media screen and (max-width: 960px) {
    #main{
        grid-template-areas:
    'chat'
    'side1'
    'side2'
    'side3'
    'side4'
    'side5'
    'side6';
    }
}








/* CARD */

body,html{
	/* height: 100%; */

}

.chat{
	margin-top: auto;
	margin-bottom: auto;
}
.card{
	height: 71vh;
	border-radius: 15px !important;
	background-color: rgba(0,0,0,0.4) !important;
}
/* .contacts_body{
	padding:  0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
} */
.msg_card_body{
	overflow-y: auto;
}
.card-header{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}
.container{
	align-content: center;
}
.search{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
}
.search:focus{
	 box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
	height: 60px !important;
	overflow-y: auto;
}
	.type_msg:focus{
	 box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.search_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.contacts{
	list-style: none;
	padding: 0;
}
.contacts li{
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
}
.active{
	background-color: rgba(0,0,0,0.3);
}
.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;

}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;

}
.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
}
.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}
.offline{
	background-color: #c23616 !important;
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span{
	font-size: 20px;
	color: white;
}
.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
}
.video_cam{
	margin-left: 50px;
	margin-top: 5px;
}
.video_cam span{
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}
.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: rgb(82, 172, 255);
	padding: 10px;
	position: relative;
}
.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #58cc71;
	padding: 10px;
	position: relative;
}
.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.msg_head{
	position: relative;
}
#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
.action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i{
	padding-right: 10px;
}
.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}



